* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

main.dark {
  --bg: #040d12;
  --card-bg: #393646;
  --text: #fff;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg);
  color: var(--text);

  .container {
    width: 40%;
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    position: relative;

    .btn-container {
      padding: 5px;
      display: flex;
      flex-direction: column;
      gap: 5px;

      .btn {
        background-color: var(--card-bg);
        border-radius: 50%;
        padding: 10px;
      }
    }

    .card-container {
      .card {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) translateY(-10px);
        width: 250px;
        background-color: var(--card-bg);
        padding: 20px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        border: 1px solid #a1a1a1;

        .card-header {
          display: flex;
          justify-content: space-between;

          .pic {
            width: 34%;
            aspect-ratio: 1 / 1;
            border-radius: 50%;
            margin-bottom: 10px;
            overflow: hidden;

            img {
              width: 100%;
              height: 100%;
            }
          }

          .type {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 34px;
          }
        }

        .info {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 5px;
        }

        .btn-action {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 12px;

          button {
            padding: 5px 10px;
            border-radius: 50px;
            border: none;
            outline: none;
            font-size: 16px;
            font-weight: 500;
          }
        }
      }

      .card:nth-child(1) {
        z-index: 3;
      }
      .card:nth-child(2) {
        z-index: 2;
        transform: translateY(15px);
      }
      .card:nth-child(3) {
        z-index: 1;
        transform: translateY(30px);
      }
    }

    .filter-type {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .filter-container {
        display: flex;
        gap: 8px;

        .circle {
          padding: 12px;
          border-radius: 100%;
        }

        #emergancy {
          background-color: red;
        }
        #urgent {
          background-color: Orange;
        }
        #important {
          background-color: Blue;
        }
        #no-rush {
          background-color: Gray;
        }
      }
    }
  }
}
