* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

:root {
  /* Padding Variables */
  --nav-padding: 15px 30px;
  --section-padding: 15px 30px;
  --padding-s: 5px;
  --padding-m: 10px;
  --padding-l: 15px;
  --padding-xl: 20px;
  --padding-xxl: 30px;

  /* Gap Variable */
  --gap-s: 5px;
  --gap-m: 10px;
  --gap-l: 15px;
  --gap-xl: 20px;
  --gap-xxl: 30px;

  /* border-radius variable */
  --border-radius-s: 5px;
  --border-radius-m: 10px;
  --border-radius-l: 15px;
  --border-radius-xl: 20px;
  --border-radius-xxl: 30px;
}

main.light {
  --bg-color: #f4f4f4;
  --primary-text-color: #000000;
}

main.dark {
  /* Background color */
  --bg-color: #000000;
  --bg-button-color: #1a1a1a;
  --bg-task-color: #2a2a2a;
  --bg-btn-color: #444444;
  --bg-delete-color: #ff4d4d;

  /* Text Color */
  --primary-text-color: #f4f4f4;
}

main {
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  color: var(--primary-text-color);
  display: flex;
  flex-direction: column;
}

nav {
  padding: var(--nav-padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .nav-btn {
  display: flex;
  align-items: center;
  gap: var(--gap-xxl);
}

.nav-btn button {
  background-color: var(--bg-button-color);
  border: none;
  outline: none;
  color: var(--primary-text-color);
  padding: var(--padding-m) var(--padding-l);
  cursor: pointer;
  border-radius: var(--border-radius-m);
}

section {
  padding: var(--section-padding);
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}

section .task-column {
  background-color: var(--bg-button-color);
  flex-grow: 1;
  padding: var(--padding-m);
  display: flex;
  flex-direction: column;
  gap: var(--gap-m);
  border-radius: var(--border-radius-m);
  transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
}

section .task-column.hover-over {
  border: 2px dashed var(--primary-text-color);
  scale: 1.04;
}

section .task-column .heading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-column .task {
  background-color: var(--bg-task-color);
  padding: var(--padding-m);
  border-radius: var(--border-radius-m);
  display: flex;
  flex-direction: column;
  gap: var(--padding-s);
  cursor: grab;
}

.task-column .task button {
  align-self: flex-end;
  cursor: pointer;
  padding: var(--padding-s) var(--padding-m);
  border: none;
  outline: none;
  background-color: var(--bg-delete-color);
  color: var(--primary-text-color);
  border-radius: var(--border-radius-s);
}

.task-model.active {
  display: flex;
}
.task-model {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
}

.task-model .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(62, 61, 61, 0.484);
  backdrop-filter: blur(5px);
}

.task-model .center {
  background-color: var(--bg-button-color);
  padding: var(--padding-xxl);
  border-radius: var(--border-radius-m);
  display: flex;
  flex-direction: column;
  gap: var(--padding-m);
  z-index: 10;
}

.task-model .center input,
.task-model .center textarea,
.task-model .center select {
  background-color: var(--bg-task-color);
  border: none;
  outline: none;
  color: var(--primary-text-color);
  padding: var(--padding-m);
  border-radius: var(--border-radius-s);
}

.center button {
  background-color: var(--bg-task-color);
  border: none;
  outline: none;
  color: var(--primary-text-color);
  padding: var(--padding-m) var(--padding-l);
  cursor: pointer;
  border-radius: var(--border-radius-m);
  transition: all ease 0.3s;
}

.center button:hover {
  background-color: var(--bg-btn-color);
}
