@import url("https://fonts.googleapis.com/css2?family=Playwrite+NO:wght@100..400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playwrite NO", cursive;
}

html,
body {
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #151515;
}

main .card {
  position: relative;
  width: 350px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  transition-delay: 0.5s;
}

.card:hover {
  width: 600px;
  transition-delay: 0.5s;
}

.card .circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .circle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background-color: #191919;
  border: 8px solid var(--clr);
  filter: drop-shadow(0 0 10px var(--clr)) drop-shadow(0 0 60px var(--clr));
  transition: 0.5s, background 0.5s;
  transition-delay: 0.75s, 1s;
}

.card:hover .circle::before {
  transition-delay: 0.5s;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: var(--clr);
}

.card .circle .logo {
  position: relative;
  width: 250px;
  transition: 0.5s;
  transition-delay: 0.5s;
}

.card:hover .circle .logo {
  transform: scale(0);
  transition-delay: 0s;
}

.card .product-img {
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0) rotate(315deg);
  transition: 0.5s ease-in-out;
}

.card:hover .product-img {
  top: 25%;
  left: 72%;
  height: 480px;
  transform: translate(-50%, -50%) scale(1) rotate(15deg);
  transition-delay: 0.75s;
}

.card .content {
  position: absolute;
  width: 50%;
  left: 20%;
  padding: 20px 20px 20px 40px;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

.card:hover .content {
  transition-delay: 0.75s;
  opacity: 1;
  visibility: visible;
  left: 20px;
}

.card .content h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 900;
  line-height: 1em;
}

.card .content p {
  margin-top: 13px;
  color: #fff;
  line-height: 1.3em;
}

.card .content a {
  position: relative;
  color: #111;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
  margin-top: 18px;
  transition: all ease 0.3s;
}

.content a:hover {
  scale: 0.9;
}
