* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  height: 100%;
}

main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}
.banner {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.banner .product {
  /* background-color: red; */
  width: 500px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: flex;
  transition: 0.7s;
  --left: 0px;
}

.banner .product .soda {
  background: var(--url) var(--left) 0, url(image/mockup.png);
  background-size: auto 100%;
  width: 280px;
  aspect-ratio: 2/4;
  background-blend-mode: multiply;
  mask-image: url(image/mockup.png);
  mask-size: auto 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.7s;
}

.banner .product:hover {
  --left: -1000px;
  transform: translate(-50%, -300px);
}

.banner .product .soda:nth-child(2) {
  opacity: 0;
}

.banner .product:hover .soda:nth-child(2) {
  opacity: 1;
}
