* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: #fff;
}

.light {
  padding: 4px;
  margin: 5px;
  border-radius: 50%;
  transition: all ease 0.5s;
}

.glow {
  background-color: rgb(255, 100, 100);
  box-shadow: 0 0 15px 5px rgba(255, 0, 0, 0.8),
    0 0 30px 10px rgba(255, 100, 100, 0.5);
}
