* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

:root {
  --top: 0px;
  --left: 0px;
}

main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main .img2 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  pointer-events: none;

  /* Transparent everywhere, except a circle at the cursor variables */
  -webkit-mask-image: radial-gradient(
    circle 300px at var(--left) var(--top),
    black 100%,
    rgba(0, 0, 0, 0.5) 80%,
    transparent 100%
  );
  mask-image: radial-gradient(
    circle 200px at var(--left) var(--top),
    black 100%,
    rgba(0, 0, 0, 0.5) 80%,
    transparent 100%
  );
}

/* main .circle {
  width: 300px;
  height: 300px;
   background-color: blue;
  position: fixed;
  z-index: 99;
  top: var(--top);
  left: var(--left);
  border-radius: 50%;
  transition: all ease 0.1s;
} */
